body {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 3fr 1fr;
  grid-template-rows: 4em 1fr 3em;
  gap: 0.25em 0.25em;
  grid-template-areas:
    ". deco-sidebar header header ."
    ". deco-sidebar sidebar main ."
    ". deco-sidebar sidebar footer .";
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

main {
  grid-area: main;
}

aside {
  grid-area: sidebar;
}

.deco-sidebar {
  grid-area: deco-sidebar;
}
