.container {
  display: grid;
  grid-template-columns: 2em 33% 1fr;
  grid-template-rows: 4em 1fr 4em;
  gap: 1em 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". header header"
    "side-deco sidebar ."
    "footer footer footer";
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.sidebar {
  grid-area: sidebar;
}

.side-deco {
  grid-area: side-deco;
}
