<!doctype html>
<html lang="en">
  <head>
    <title>anchorhold</title>
    <meta content="ramblings from an aspiring recluse" name="description" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="~/styles/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <header class="header"></header>
      <footer class="footer"></footer>
      <aside class="sidebar"></aside>
      <aside class="side-deco"></aside>
    </div>
  </body>
</html>
