<!doctype html>
<html lang="en">
  <head>
    <title>the anchorhold</title>
    <meta content="ramblings from an aspiring recluse" name="description" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="styles/style.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <h1>the anchorhold</h1>
    </header>

    <footer>
      <p>testing</p>
    </footer>

    <aside>
      <nav>
        <h2>Pages</h2>
        <ul class="navlist">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/pages/writing.html">Writing</a></li>
          <li><a href="/pages/projects.html">Projects</a></li>
          <li><a href="/pages/faves.html">Faves</a></li>
          <li><a href="/pages/about.html">About</a></li>
          <li><a href="/pages/social.html">Social</a></li>
        </ul>
      </nav>
    </aside>

    <main>
      <section>
        <h2>Howdy!</h2>
        <p>Welcome to the anchorhold :)</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </section>
    </main>

    <div class="deco-sidebar">
      <p>
        the sky above the port was the color of television tuned to a dead
        channel
      </p>
    </div>
  </body>
</html>
